# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# Logs
*.log
